@import "../../hiweb-core-3/assets/css/mixins";

$color_red: #b02834;
$color_grey_light: #f7f7f8;
$color_grey: #d7d7d8;

.hiweb-calculator-wrap {

	margin-bottom: 4em;

	.hiweb-calculator-empty-wrap {
		font-size: 1.4em;
		text-align: center;
		padding: 2em 0;
	}

	.tooltip {
		font-size: .8em;
		padding: .4em 1em;
		position: absolute;
		background: #fff;
		border: 1px solid $color_grey;
		@include box-shadow();
		@include border_radius(.5em);
		font-weight: 300;
	}

	.item-help-icon {
		color: $color_red;
		cursor: pointer;
	}

	.item-section {
		margin-bottom: 2em;
		padding-bottom: 1.6em;
		border-bottom: 2px solid $color_grey_light;

		.section-title {
			margin-bottom: 2em;

			.section-number {
				padding: .4em .6em;
				background-color: $color_red;
				color: #fff;
				margin-right: .4em;
				@include border_radius(.3em);
			}
		}


		.item-type-images {
			@include display-flex;
			align-items: stretch;
			justify-content: space-between;
			justify-items: center;
			flex-wrap: wrap;

			&[data-items-count="1"] {
				.item-wrap {
					width: 100%;

					.item {
						max-width: unset;
					}
				}
			}

			&[data-items-count="2"] {
				.item-wrap {
					width: 48%;

					.item {
						max-width: unset;
					}
				}
			}

			&[data-items-count="3"] {
				.item-wrap {
					width: 31%;
				}
			}

			&[data-items-count="4"], &[data-items-count="7"], &[data-items-count="8"] {
				.item-wrap {
					width: 23%;
				}
			}

			&[data-items-count="5"] {
				.item-wrap {
					width: 18%;
				}
			}

			&[data-items-count="6"] {
				.item-wrap {
					width: 15%;
				}
			}

			@media all and (max-width: 576px) {
				&[data-items-count] {
					.item-wrap {
						width: 47%;
					}
				}
			}

			.item-wrap {
				min-width: 140px;
				margin-bottom: 2em;
				text-align: center;

				.item {
					@include box-shadow(24px, .2);
					cursor: pointer;
					padding: 6px;
					box-sizing: border-box;
					border: transparent 4px solid;
					@include transition(border);
					max-width: 200px;
					width: 100%;
					display: inline-block;

					.thumbnail-wrap {
						position: relative;
						height: 160px;
						overflow: hidden;
						margin-bottom: .8em;

						img, picture {
							@include position_stretch_2();
							width: 100%;
							height: 100%;
							object-fit: cover;
							-o-object-fit: cover;
						}
					}

					.item-title {
						text-align: center;
						font-weight: 500;
						font-size: .8em;
					}

					&[data-selected="true"] {
						border-color: $color_red;
					}

				}
			}
		}


		.item-type-numbers {
			font-size: .8em;
			@include display-flex;
			align-items: stretch;
			justify-content: space-between;
			flex-wrap: wrap;

			.item-wrap {
				width: 48%;
				@media all and (max-width: 576px) {
					width: 100%;
				}
			}

			.item {
				margin-bottom: 2em;
				@include display-flex;
				align-items: stretch;
				justify-content: space-between;
				flex-wrap: wrap;

				.thumbnail-wrap, .item-data {
					width: 48%;
				}

				p {
					padding: 0;
					margin: 0 0 .4em 0;
				}

				input {
					width: 100%;
					max-width: 125px;
					margin-right: .3em;
					font-size: 1.4em;
					border: none;
					background: $color_grey;
					padding: .6em .2em .6em .8em;
					@include border_radius(.3em);
				}

				.item-description, .item-input-wrap {
					font-size: .8em;
				}
			}

		}

		.item-type-radiobutton {
			@include display-flex;
			align-items: stretch;
			justify-content: space-between;
			flex-wrap: wrap;

			&[data-items-count="1"] {
				.item-wrap {
					width: 100%;
				}
			}

			&[data-items-count="2"] {
				.item-wrap {
					width: 48%;
				}
			}

			&[data-items-count="3"] {
				.item-wrap {
					width: 31%;
				}
			}

			&[data-items-count="4"], &[data-items-count="7"], &[data-items-count="8"] {
				.item-wrap {
					width: 23%;
				}
			}

			&[data-items-count="5"] {
				.item-wrap {
					width: 18%;
				}
			}

			&[data-items-count="6"] {
				.item-wrap {
					width: 15%;
				}
			}

			@media all and (max-width: 576px) {
				&[data-items-count] {
					.item-wrap {
						width: 47%;
					}
				}
			}

			.item-wrap {
				font-size: .8em;
				text-align: center;
				vertical-align: middle;
				margin-bottom: 1em;

				label {
					cursor: pointer;
				}

				input {
					margin-right: .6em;
				}
			}
		}


	}

	.total-section {
		@include display-flex;
		justify-content: center;
		flex-wrap: nowrap;

		.total-price-wrap, .total-button {
			min-width: 120px;
			padding: .4em 1em;
			background: $color_red;
			color: #fff;
			max-width: 50%;
			border: none;
			outline: none;
		}

		.total-price-wrap {
			font-weight: 300;
			text-align: center;
			font-size: .8em;
			@include border_radius(.4em, 0, 0, .4em);

			b {
				font-size: 1.4em;
			}
		}

		.total-button {
			text-align: center;
			cursor: pointer;
			@include border_radius(0, .4em, .4em, 0);
			@include transition();

			&:hover {
				background-color: lighten($color_red, 12%);
			}

			&:active {
				background-color: lighten($color_red, 50%);
			}
		}
	}

}